#email{
    width: 50%;
    margin: 0 auto;
}

#password{
    width: 50%;
    margin: 0 auto;
}

#button{
    width: 20%;
    margin: 0 auto;
    background-color: #90a4ae;
}

#bottom{
    background-color: #bcaaa4;
}

body{
    background-color: #cfd8dc;
}

h3{
    text-align: center;
}