<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id= login>
                    <a routerLink = 'login' routerLinkActive = 'active' ><button type="button" class="btn btn-outline-secondary btn-block">Log In</button></a>
                </div>
            </div>
            <div class="col-sm">
                <div id= register>
                    <a routerLink = 'register' routerLinkActive = 'active'><button type="button" class="btn btn-outline-secondary btn-block">Register</button></a>
                </div>
            </div>
            <div class="col-sm">
                <div id= books>
                    <a routerLink = 'book' routerLinkActive = 'active'><button type="button" class="btn btn-outline-secondary btn-block">Books</button></a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <router-outlet></router-outlet>
</body>