#login{
    width: 50%;
    margin: 0 auto;
    background-color: #cfd8dc;
}

#register{
    margin: 0 auto;
    width: 50%;
    background-color: #cfd8dc
}

#books{
    margin: 0 auto;
    width: 50%;
    background-color: #cfd8dc
}

body{
    background-color: #bcaaa4;
}